@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    background: #f7fafc;
    box-sizing: border-box;
    color: #1a202c;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    padding: 30px 10px;
    width: 100vw;
}

.imgprincipal, section{
    width: 50%;
}

.imgprincipal{
    display: none;
    max-width: 400px;
}

p:nth-child(1){
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 26px;
}



section{
    align-items: flex-start;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    padding: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email, #senha{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #1a202c;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    width: 80vw;
}

.outros{
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    width: 80vw;
}

.outros div:nth-child(1){
    align-items: center;
    display: flex;
    gap: 5px;
}

#lembrar{
    background-color: #f7fafc;
    /* border: 1px solid #e8e8e8; */
    color: blue;
    background: blue;
}

a{
    color: #2b6cb0;
    text-decoration: none;
}

.entrar, .login{
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-weight: 700;
    gap: 5px;
    height: 50px;
    justify-content: center;
    width: 80vw;
}

.entrar{
    background: #04c35c;
}

.login{
    background: #1a202c;
}

p:last-child{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width:760px){
    body{
        justify-content: space-around;
        padding: 20px;
    }

    .imgprincipal{
        display:block;
        width: 50vw;
    }

    section{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #email, #senha, .entrar, .login, .outros{
        width: 40vw;
    }
}