@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Open+Sans:wght@700&display=swap');

/* font-family: 'B612', sans-serif;
font-family: 'Open Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-attachment: fixed;
    background-image: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'B612', sans-serif;
    font-weight: 700;
    font-size: 14px;
    min-height: inherit;
}

main{
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

header{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 70px 30px 30px 30px;
    text-transform: uppercase;
}

h3{
    font-size: 18px;
}

h1{
    font-size: 64px;
}

section{
    position: absolute;
    top: 80%;
}

.capa{
    display: none;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parte1{
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    text-shadow: 1px 1px 0 #000;
    width: 100%;
}

.tempo{
    align-items: center;
    display: flex;
    font-size: 16px;
    gap: 10px;
    justify-content: center;
    max-width: 300px;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
}

ul img{
    height: 20px;
}


.parte2{
    align-items: center;
    background: #19191f;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

a{
    border-radius: 3px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}

a:first-child{
    background: #0072d2;
}

a:first-child:hover{
    background: #19191f;
    border: 1px solid #fff;
}

a:last-child{
    border: 1px solid #fff;
    background: #19191f;
}

a:last-child:hover{
    background: #0072d2;
}

.descricao{
    align-items: center;
    background: #19191f;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
}

@media screen and (min-width:800px){
    h3{
        font-size: 20px;
    }

    h1{
        font-size: 64px;
    }
    section{
        align-items: center;
        display: flex;
        gap: 50px;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        text-shadow: 1px 1px 0 #000;
        top: 15%;
    }

    .capa{
        display: block;
        height: 267px;
        width: 184px;
    }

    .conteudo{
        display: flex;
        flex-direction: column-reverse;

    }

    .parte1{
        justify-content: space-between;
    }

    .tempo{
        font-size: 24px;
    }

    ul img{
        height: 40px;
    }

    .parte2{
        background: none;
        gap: 30px;
        justify-content: flex-start;
        /* justify-self: flex-start; */
    }

    p{
        font-size: 24px;
    }

    a{
        font-size: 16px;
    }

    a:first-child{
        width: 184px;
    }

    a:last-child{
        width: 115px;
    }

    .descricao{
        background: none;
        font-size: 20px;
        max-width: 700px;
    }


}